<!----------------------------- lOADER ----------------------->
<div class="loader">
  <p class="base">Richy</p>
  <p class="letters fl-1">Richy</p>
  <p class="letters fl-2">Richy</p>
  <p class="letters fl-3">Richy</p>
  <p class="letters fl-4">Richy</p>
  <p class="letters fl-5">Richy</p>
  <p class="letters fl-6">Richy</p>
  <p class="letters fl-7">Richy</p>
</div>
<!-------------------------------------- LOGO ------------------------>
 <div class="logo">
   <span>Richy</span>
   <span>Mbiamou</span>
  </div>
