<!------------------------------- lOADER ----------------------------------->
<div class="loader">
  <p class="base">Richy</p>
  <p class="letters fl-1">Richy</p>
  <p class="letters fl-2">Richy</p>
  <p class="letters fl-3">Richy</p>
  <p class="letters fl-4">Richy</p>
  <p class="letters fl-5">Richy</p>
  <p class="letters fl-6">Richy</p>
  <p class="letters fl-7">Richy</p>
  <div class="bottom"></div>
  <div class="copyright"> Coded by <a href="https://bento.me/mbiamourichy-">Mbiamou Richy</a> </div>
</div>
<!--------------------------------- LOGO ----------------------------------->
 <div class="logo">
   <a href="https://bento.me/mbiamourichy-">
    <span>Richy</span>
   <span>Mbiamou</span>
   </a>
  </div>
