// map
@use "sass:map";

$letters-colors: (
  "c1": #ede9e9,
  "c2": #919090,
  "c3": #6a6969,
  "c4": #6a6969,
  "c5": #858585,
  "c6": #c9c9c9,
  "c7": #fff,
);

//  Les variables
$color1: #fff;
$color2: black;
$color3: #222;
$color4: rgba(255,148,95,1);

// Les mixins
@mixin absolute-div($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
@mixin relative-div($top, $right, $bottom, $left) {
  position: relative;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
// Les placeholders
%div-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
%div-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/*================================= Bg-gradient ===========================*/
#bg-gradient{
  background: radial-gradient(circle,$color1, $color4);
  background-position: center;
  mix-blend-mode: exclusion;
  @include absolute-div(0, none, none, 0);
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
/*=================================== Loader ==============================*/

.loader {
  position: relative;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  display: none;
  background-color:  $color4;
  text-align: center;
}
// .show {
//   display: inline-block;
// }
.base,
.letters,
.bottom {
  font-size: 4rem;
  color: transparent;
  font-weight: bold;
}

.letters {
  @include absolute-div(50%, none, none, 50%);
  transform: translate(-50%, -50%);
  animation: loader 1.5s ease-in-out infinite;
  -webkit-text-stroke: 1px $color2;

}
@keyframes loader {
  50% {
    transform: translate(-50%, -70%);
  }
}


@for $i from 1 through 7 {
  .fl-#{$i} {
    animation-delay: - calc($i / 10 * 1s);
    color: map.get($letters-colors, "c#{$i}")
  }
}


.bottom,
.copyright {
  transform: translate(-50%, -50%);
}
// counter
.bottom {
  @include absolute-div(none, none, 5%, 50%);
  color: $color1;
  text-shadow: -1px -1px 0 $color3,
  1px -1px 0 $color3,
   -1px 1px 0 $color3,
   1px 1px 0 $color3,
    4px 4px 0 $color3;
}

.copyright {
  font-size: 1rem;
  font-weight: bold;
  color: $color1;
  @include absolute-div(none, none, 3%, 50%);
  a {
    text-decoration: $color1;
    color: $color1;
  }
}

// Le Logo
.logo {
  @include absolute-div(50px, none, none, 50px);
  z-index: 5;

  a {
    text-decoration: none;
    @extend %div-col;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    span {
      @include relative-div(2rem, none, none, none);
      font-size: 1rem;
      color: $color2;
      font-weight: bold;
      line-height: 100%;
      transition: top 1s ease-in;
      visibility: hidden;
      animation: appear-top 2.5s ease-in-out 4s forwards;
      color: $color1;

    }
  }
}

@keyframes appear-top {
  to {
    top: 0;
    visibility: visible
  }
}

/*================================ Big text ================================*/
.big-text {
  @include absolute-div(40%, none, none, 50%);
  transform: translate(-50%, -50%);
  font-size: calc(150vw / 10);
  @extend %div-col;
  width: 80vw;
  line-height: 100%;
  -webkit-text-stroke: 1px $color2;

  div {
    @extend %div-row;
    width: 100%;
    color: $color1;
    overflow: hidden;
    scale: 1;
    visibility: hidden;
    transition: scale 1s ease-in;
    animation: scale 2.3s ease-in 3.5s forwards;

  }
  .text-left {
    align-items: flex-end;
    justify-content: flex-end;
  }
}

@keyframes scale {
  from {
    scale: 0;
    opacity: 0;
    visibility: visible
  }
  to {
    scale: 1;
    opacity: 1;
    visibility: visible
  }
}

/*========================================== EXPLORE =============================*/
.explore {
  @include absolute-div(none, none, 20%, 5%);
  @extend %div-col;
  align-items: flex-end;
  z-index: 5;
  transition: left 1s ease-in;
  visibility: hidden;
  animation: block-left 2s ease 3s forwards ;

  p {
    font-size: 0.7rem;
    line-height: 1.125rem;
    color: $color1;
    padding-left: 5rem;
    margin-bottom: 1.25rem;
    text-shadow: -4px -4px 1 $color2,
    -2px 2px 1 $color2;

  }
  .btn-explore {
    border-bottom: 0.5px solid $color1;
    color: $color2;
    width: 6.25rem;
    text-align: right;
    font-size: 0.7rem;
    line-height: 1.125rem;
    padding-bottom: 0.3rem;
    color: $color1;
    text-shadow: -2px 2px 1 $color2
    -4px 4px 1 $color2;
    cursor: pointer;

  }
}
@keyframes block-left {
  from{
    left: -30%;
    visibility: visible;
  }
  to{
    left: 5%;
    visibility: visible;
  }
}
/*====================================== SOCIAL MEDIA ==================================*/
.socialMedia-icon {
  @include absolute-div(none, 5%, 5%, none);
  @extend %div-row;
  z-index: 5;
  gap: 1rem;
  a {
    width: 20px;
    height: 20px;
    scale: 1;
    visibility: hidden;
    transition: scale 1s ease-in;
    animation: svg-appear 1s ease-in 2.5s forwards;
    svg {
      width: 100%;
      height: 100%;
      fill: $color1;
    }
  }
}
@keyframes svg-appear {
 from{
  scale: 0;
  visibility: visible;
 }
 to{
  scale: 1;
  visibility: visible;
 }
}

/*================================== DRAG OR SCROLL ===================================*/

.dragORscroll{
  @include absolute-div(50%, none, none, 50%);
  transform: translate(-50%, -50%);
  @extend %div-row;
  align-items: center;
  justify-content: center;
  z-index: 50;
  width: 90vw;
  gap: 5px;
  display: none;
  animation: opacity 2s ease-in forwards;
  hr.souligne{
    width: 35%;
    background-color: $color1;
    height: 5px;
    border: 0.01px solid $color2;
  }
}
.texte_dos{
  @extend %div-col;
  align-items: center;
  justify-content: center;
  h1.drag{
    color: $color1;
    font-size: calc(100vw/ 10);
    -webkit-text-stroke: 1px $color2;
    font-weight: bold;
  }
  p.scrollText{
    font-size:0.7rem;
    color: $color3;
    font-weight: 500;
    flex-wrap: nowrap;
  }
}
@keyframes opacity {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
@media only screen and (max-width: 614px) {
  .texte_dos p.scrollText{
    display: none;
  }
}
